{% extends 'base.html' %}

{% block title %}Classification{% endblock title %}


{% block body %}
{% load static %}
<br>
<br>

<h1 style="text-align: center;font-size: 24px; font-family: Arial, sans-serif;"> <strong> Upload Image for Classification </strong>  </h1>

    <br>

    <form method="post" enctype="multipart/form-data" action="predict_img/">
        {% csrf_token %}
        <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
            <div class="col-md-4 col-sm-4 d-flex flex-column align-items-center" style="font-size: 25px;">
                <label for="fname">Upload Image File Here:</label>
            </div>
        </div>

        
        <div style="display: flex; justify-content: center;">
            <input name="filePath" type="file" ><br><br>
        </div>
    

         <div class="text-center my-4">
            <button type="submit" class="bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" style="float: middle;">Button</button>
            
    </form>
    <br>

{% endblock body %}
